.HvsC {
    
    width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: 30px 20px 0px 100px;

}

#HBar,
#CBar {
    height: 30px;
    width: 100%;
    font-size: 24px;
    color: #1f2937;
    border: #e5e7eb;
    font-weight: bold;
    text-align: center;
    background-color: #02e702;
}

.HvsC>div {
    border: 2px solid black;
    width: 400px;
    height: 300px;
    background-color: #1f2937;
}

.hc {
    width: 240px;
    height: 200px;
}

ul {
    display: flex;
    justify-content: space-between;
}

#fight {
    width: 1300px;
    height: 170px;
 
    position: absolute;
    margin-top: -155px;
    margin-left: 350px;
    display: flex;
    padding: 5px 20px 0px 20px;
    justify-content: space-between;
}

#HW,
#CW {
    width: 150px;
    height: 150px;
}

.weapons {
    width: 1100px;
    height: 350px;
    background-color: #1f2937;

    padding: 35px 30px 20px 0px;
    margin: 30px 0px 0px 350px;
}

.weapon {
    width: 250px;
    height: 250px;
    border: 1px solid #e5e7eb;
}

.stats {
    width: 200px;
    height: 110px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-weight: bold;
    margin: 40px 0px 0px 100px;
    padding: 5px;
}

#winner {
    width: 850px;
    height: 550px;
    border: 5px solid whitesmoke;
    text-align: center;
    color: aqua;
    position: absolute;
    margin-top: 200px;
    margin-left: 600px;
    background-color: #1f2937;
    border-radius: 40px 100px 40px 100px;
    display: none;
}

#winner>h1 {
    font-size: 58px;
}

#winner> {
    font-size: 40px;
}

#winnerimg {
    border: 2px solid #f5f5f5;
    border-radius: 10px 25px 10px 25px;
    width: 200px;
    height: 200px;
    margin-top: 50px;

}

.weapon:hover {
    width: 300px;
    height: 300px;
    border: 5px solid #0366f0;
}

a {
    font-size: 30px;
    color: aqua;
    text-decoration: none;
}

#CW,
#HW {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#hwapon,
#cwapon {
    width: 150px;
    height: 150px;
}


.hani {

    animation: man 3s 1;
    position: relative;
    animation-direction: alternate;
}

.cani {
    animation: com 3s 1;
    position: relative;
    animation-direction: alternate;
}

@keyframes man {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 500px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes com {
    0% {
        right: 0px;
        top: 0px;
    }

    50% {
        right: 500px;
        top: 0px;
    }

    100% {
        right: 0px;
        top: 0px;
    }
}