.HvsC {

    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    margin: 1% 2% 0% 6%;

}

#HBar,
#CBar {
   
    width: 100%;
    font-size: 20px;
    color: #1f2937;
    border: #e5e7eb;
    font-weight: bold;
    text-align: center;
    background-color: #02e702;
}

.HvsC>div {

    background-color: #1f2937;
    width: 22vw;
    height: 27%;
}

.hc {
    width: 10vw;
    height: 11vw;
}

ul {
    display: flex;
    justify-content: space-between;
}

#fight {
    width: 66vw;
    height: 9vw;
    position: relative;
    margin-top: -6vw;
    margin-left: 20vw;
    display: flex;
    justify-content: space-between;
}

#HW,
#CW {

    width: 100%;
    height: auto;
}

.weapons {
    width: 72vw;
    height: 19vw;
    background-color: #1f2937;
    padding:2vw;
    margin: 1% 0% 0% 14%;
}

.weapon {
    width: 14vw;
    height: 14vw;
    border: 1px solid #e5e7eb;
}

.stats {

    width: 14vw;
    height: 6vw;
    background-color: #1f2937;
    font-size: 50%;
    color: #e5e7eb;
    font-weight: bold;
    margin: 1% 0% 0% 5%;

}

#winner {
    display:none;
    width: 45%;
    height: 60%;
    border: 5px solid whitesmoke;
    text-align: center;
    color: aqua;
    position: absolute;
    margin-top: 14%;
    margin-left: 30%;
    background-color: #1f2937;
    border-radius: 15% 8% 15% 8%;

}

#winner>h1 {
    font-size: 6vw;
}

#winner> h3,#winner> h3{
    font-size: 4vw;
}

#winnerimg {
    border: 2px solid #f5f5f5;
    border-radius: 5% 10% 5% 10%;
    width: 20%;
    height: 20%;
    margin-top: 3vw;

}

.weapon:hover {
    width: 16vw;
    height:16vw;
    border: 5px solid #0366f0;
}

a {
    font-size: 35%;
    color: aqua;
    text-decoration: none;
}

#CW,
#HW {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
#TA,#LA{
font-size: 1.5vw;
}
#hwapon,
#cwapon {
    width: 8vw;
    height: 8vw;

}


.hani {

    animation: man 3s infinite;
    position: relative;
    animation-direction: alternate;
}

.cani {
    animation: com 3s infinite;
    position: relative;
    animation-direction: alternate;
}

@keyframes man {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 40%;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes com {
    0% {
        right: 0px;
        top: 0px;
    }

    50% {
        right: 40%;
        top: 0px;
    }

    100% {
        right: 0px;
        top: 0px;
    }
}