img{
    width:550px;
    height:350px;
}
h4{
    font-size: 50px;
    color: #0afdfd;
    background-color:#1f2937;
    position:absolute;
    margin: -530px 0px 0px 780px;
    padding: 20px;

}
a{
    text-decoration: none;
}